@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');

body{
    background-color: hsl(228, 90%, 92%)
}

main{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 70vw;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main > img{
    width: 70vw;
    border-radius: 20px 20px 0px 0px;
}

main > h1{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 30px;
}

main > p{
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif ;
    color: rgb(155, 152, 152);
    font-size: 0.9em;
}

section{
    display: flex;
    flex-direction: row;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    align-items: center;
    background-color: rgba(204, 204, 204, 0.26);
    border-radius: 20px;

    padding: 15px;
    
}

section > img{
    height: 40px;
    padding: 0px 30px 0px 30px;
}

article{
    text-align: center;
    font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
}

article > h1{
    background-color: hsl(245, 75%, 52%);
    box-shadow: 10px 10px 15px hsla(245, 80%, 63%, 0.418);
    padding: 15px;
    border-radius: 10px;
    margin: 20px 50px 20px 50px;
    color: white;
    font-weight: 700;
    font-size: 0.8em;
}

article > p{
    padding: 20px;
    color: rgb(133, 132, 132);
    font-size: 0.8em;
    font-weight: 900;
}

div.linha h2{
    font-size: 0.9em;
    margin: 0px;
    padding: 0px 30px 0px 0px;
    font-weight: 900;
}

div.linha > h3{
    color: rgb(155, 152, 152);
    font-size: 0.9em;
    padding: 0px 30px 0px 0px;
    margin: 0px;
    font-weight: 400;
}

section > a{
    padding: 0px 0px 0px 50px;
    font-size: 0.8em;
    font-weight: 900;
}